
 * {
     font-family: 'Fira Sans';
 }

body {
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 1.5;
   height: 100%;
   width: 100%;
}

/* Define reusable classes */

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DD8C00 !important;
    --bs-btn-border-color: #DD8C00 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c27414 !important;
    --bs-btn-hover-border-color: #c27414 !important;
    --bs-btn-active-bg: #DD8C00 !important;
    --bs-btn-active-border-color: #DD8C00 !important;
}

.btn-link {
    --bs-btn-color: #820C0C !important;
    --bs-btn-hover-color: #2F0202 !important;
}

.container {
    display: flex;
    align-items: center;
}

.panel {
    min-width: 650px;
    min-height: 450px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.1) 5px 5px 40px;
    align-items: center;
}

.title {
    display: block;
    padding-top: 200px;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.subtitle {
    display: block;
    text-align: center;
    font-weight: 400;
    margin: 10px auto 80px auto ;
    width: 45%;
    font-family: 'Montserrat';
    color: #000000;
}

button {
    padding: 12px 60px;
    border:thick;
    border-radius:20px;
}

.Primary {
    font-family: 'Fira Sans';
    color: antiquewhite;
    background-color: #820C0C;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.Primary:hover {
    background-color: #5e0a0a;
}

.Secondary {
    font-family: 'Fira Sans';
    border: 2px solid #820C0C;
    background-color: #ffffff;
    color: #820C0C;
    font-weight: 500;
    font-size: 12px;
    transition: background-color 0.3s;
}

.Secondary:hover{
    background-color: #dcdcdc
}
